.newproject_container {
  margin: 0 auto;
  padding: 3em;
}

.newproject_container_title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.newproject_container_title div {
  /* grid-column: 1 / 3; */
}

.newproject_container_title img {
  display: none;
}

.newproject_container_title h1 {
  grid-column: 1;
}

.newproject_container_title p {
  grid-column: 3;
}

.newproject_container h1 {
  margin-bottom: 0.5em;
}

.newproject_container p {
  color: #7b7b7b;
}

@media (max-width: 800px) {
  .newproject_container {
    padding: 1.5em;
  }
  .newproject_container_title div {
    grid-column: 1 / 4;
  }
  .newproject_container_title h1 {
    text-align: center;
  }
}
