.container {
  /* width: 1200px; */
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.start {
  width: 100%;
  justify-content: flex-start;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 800px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .container {
    margin: 0.5em;
  }
  .container h2 {
    text-align: center;
  }
  .start {
    justify-content: center;
  }
}
